body {
  font-family: 'Google Sans', Quicksand, Lato, Roboto, 'Segoe UI', sans-serif;
  background-color: #FCFCFC;
}

h1, h2, h3, h4, h5 {
  /*font-style: italic;*/
  
  padding-left: 20px;
  padding-right: 20px;
}

.input-group {
  align-items: center;
  justify-content: center;
}